
body {
  padding:20px;
  max-width:800px;
  margin:auto auto;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: #cbeaeb;
}

table {
  width:100%;
  border-collapse: collapse;
  border-spacing: 2px;
} 
th {
  background:#666;
  color:#fff;
  padding:1em;
  border-bottom: 2px solid #212529;
  font-size: 1em;
} 
td {
  padding:1em;
  border-bottom: 2px solid #dee2e6;
  font-size: 1em;
}

.thead-dark th{
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  
}

.tbody-light{
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-bottom: 2px solid #dee2e6;
}
  